<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.SurumeBereket">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ana_tema">
        <activity android:name=".Detay.ErkekDetay"></activity>
        <activity android:name=".Detay.DisiDetay" />
        <activity android:name=".Guncelle.YeniDogumGuncelle" />
        <activity android:name=".Detay.BuzagiDetay" />
        <activity
            android:name=".HayvanlarimAlt.Hay_YeniDogumEkle"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".HayvanlarimAlt.Hay_ErkekEkle" />
        <activity android:name=".HayvanlarimAlt.Hay_DisiEkle" />
        <activity android:name=".GelirGiderAlt.GelirGiderSecenek" />
        <activity android:name=".HayvanlarimAlt.DisiHayvanlar" />
        <activity android:name=".HayvanlarimAlt.HayvanEkle" />
        <activity android:name=".HayvanlarimAlt.ErkekHayvanlar" />
        <activity android:name=".HayvanlarimAlt.Buzagilar" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Giris.GirisYap"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.SurumeBereket.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>